@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or similar */
.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination-list li {
    display: inline;
  }
  
  .pagination-list button {
    cursor: pointer;
  }
  